/* items do cabeçalho e navegação das paginas (comum a todas as paginas) */
body{
}

header{
    
}
.header-items ul{
    padding: 5%;
    
}
.fotter-items ul{
    padding: 5%;
    position: inherit;
    align-self: baseline;
    
}
/* periodic table css*/
.PTable {
    padding: 5%;
    padding-top: 0px;
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 200px;
    width: 90%;
}
.PT-container{
    padding: 45px;
    margin: 0 auto;
}
.PT-column{
    width: 5%;
    float: left;
    display: table-cell;
    vertical-align: bottom;
}
.PT-column div{
    max-height: 100px;
    overflow: auto;
}
.PT-column div a{

}

/* Commented code area

.periodical-table tr{
    
    padding: 21px;
    width: 3px;
    height: 3px;
}
.periodical-table td{
    height: min-content;
    width: min-content;
    
    text-align: center;
    text-decoration: none;
    background-color: hotpink;
}
.periodical-table table tr td a{
    background-color: indigo;
    text-decoration: none;
    color: honeydew;
}

.periodical-table{
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(4, 100px);
    justify-content: center;

}
.PTitem{
    text-align: center;
    border: black;
    border-width: 2px;
    padding: 1%;
}
